<div class="hero-unit">
<h2>Sign up</h2>

<!%= simple_form_for(resource, :as =><!--  resource_name, :url => registration_path(resource_name)) do |f| %> -->


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, placeholder: 'user@domain.com', :autofocus => true  %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, placeholder: 'Min 6 Characters'  %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

<!--
#added fields -->
<%= f.label :username %><br/>
  <%= f.text_field :username %><br/>

<%= f.file_field :avatar %>


  <%= f.label :status %><br/>
  <%= f.select :status, options_for_select([['Single'], ['In Relationship'],['On the Prowl'], ['Desperate'],['One eye open'],['Potetial cheater'],['Open to possibilities'],['Runaway Princess'], ['Heart Brokern'],['Playa'],['In Happy Relationship']]) %>

    <%= f.label :age %>
    <%= f.text_field :age %>

  <%= f.label :gender %>
  <%= f.select :gender, options_for_select([['Female'], ['Male']]) %>

  <!%= f.label :location %>
  <!%= f.text_field :location %>

<%= f.label :age %>
<%= f.select :age, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: false,
                              order: [:day, :month, :year], :include_blank => false %>

<h4>Tell us about yourself</h4>



  <div><%= f.submit "Sign up" %></div>




<% end %>

<%= render "devise/shared/links" %>
</div>






