<div class="hero-unit">
 <%= simple_form_for @user, defaults: { input_html: { class: 'default_class' }, :url => users_path, :html => { :method => :put }} do |f| %>



  <%= f.input :username, input_html: { class: 'special'}, placeholder: 'Create a Username' %>
   <!%= f.file_field :avatar %>

  <%= f.input :status, :collection => ['Single', 'In Relationship', 'On the Prowl','Desperate', 'DTF!','One eye open','One eye open','Potetial cheater','Open to possibilities','Runaway Princess','Heart Broken','Playa', 'In Happy Relationship'], :include_blank => false  %>

   <%= f.input :age, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: false,
                              order: [:day, :month, :year], :include_blank => false %>

    <%= f.input :location %>

  <%= f.button :submit, :class => "btn btn-primary btn-large" %>
<% end %>

</div>


<!-- , defaults: { input_html: { class: 'default_class' },:url => users_path, :html => { :multipart => true }}

 -->