<div class="hero-unite">
      <div class="row">
              <div class="span4">
                <%= image_tag @user.avatar.url, :class => 'big-profile'%>
              </div>

              <div class="span5">
                <h1><%= link_to(@user.username, @user) %></h1>
                <h5><%= @user.intro %></h5>
              </div>
      </div>

      <div class="row">
            <div class="span6">
                  <%= @user.status %><br>
                  <%= @user.age %><br>
                  <%= @user.gender%><br>
                  <%= @user.location %><br>
                  <br>
                  <% if user_signed_in? %>
                      <%= link_to 'Edit profile', edit_user_registration_path,  :class => 'btn btn-success' %>
                    <%= link_to 'Get your hate on', new_hate_path, :class => 'btn btn-danger' %>
                  <% end %>
            </div>
      </div>
</div>
<!-- /Hero Unit Container -->

<div class="container">

  <% @user.hates.each do |hate| %>
  <div class="hates_show">
          <li><%= image_tag(hate.user.avatar)  %></li>
          <li> <button class="btn btn-large dropdown-toggle">
              <%= link_to(hate.user.username, hate.user ) %></button></li>

          <li><%= hate.hate_rate %></li>
          <li><%= hate.category %></li>
          <li><i>"<%= hate.post %>"</i></li>
          <hr>
          <li>
            <div class="badge badge-inverse badge-large"><h3>Hate Rate <%= hate.ratings.total_count %></h3></div></li>

                 <% flash.each do |name,msg| %>
                 <% content_tag(:div, msg, class: "alert alert-#{name}") %>
                 <% end %>

                        <% if user_signed_in? %>

                               <%= form_for  @rating  do |f| %>
                                  <%= f.hidden_field :hate_up, :value => 1 %>
                                  <%= f.hidden_field :hate_id, :value => hate.id %>

                                 <li><%= f.submit '  Rate Up  ', :class => 'btn btn-danger btn-large'  %></li>
                                  <% end %>

                                <%= form_for @rating do |f| %>
                                  <%= f.hidden_field :hate_down, :value => 1 %>
                                  <%= f.hidden_field :hate_id, :value => hate.id %>

                                    <li><%= f.submit 'Rate Down', :class => 'btn btn-warning btn-large'  %></li>
                                <% end %>

                                      <li><%= link_to 'Delete Hate', hate, :method => :delete, :class => 'btn btn-danger' %></li>
                          <% end %>

                          </div>
              <% end %>
        </div>
  </div>
</div>















