<div class="hero-unite">
  <div class="row">
              <div class="span6">
                <%= image_tag @user.avatar.url %>
              </div>
              <div class="span6">
              <h1><%= @user.username %></h1>
              </div>
 </div>

<div class="row">
  <div class="float_left">
    <div class="span6">
              <ul>
                    <li><%= @user.status %></li>
                    <li><%= @user.age %></li>
                    <li><%= @user.gender%></li>
                    <li><%= @user.location %></li>
                    <li><%= link_to 'Edit profile', edit_user_registration_path,  :class => 'btn btn-success' %></li>
                    <li><%= link_to 'Get your hate on', new_hate_path, :class => 'btn btn-danger' %></li>
                </ul>
            </div>
          </div>
   <div class="float_right">
      <div class="span6"> <%= @user.intro %></div>
         </div>
</div>


<!--container -->
</div>








