<div class="hero-unit">


<% @hates.each do |hate| %>
    <ul>
      <li><%= link_to(hate.user.username, hate) %></li>
        <li><%= image_tag(hate.user.image)%></li>
      <li><%= hate.category %></li>
      <li><%= hate.post %></li>
      <li><%= hate.hate_rate %></li>
    </ul>

<% end %>
</div>