<div class="home-unit">
  <h1 class="burning">Welcome to <br>Hate Mate™</h1>
        <p>We hope you are rested and ready for<br>
            some fun, a little hate and find love.</p>
            <%= link_to "Become a Hater", new_user_registration_path, :class => "btn btn-primary btn-large" %>

  <h2 class="home_cat">Categories of Hating Online Dating</h2>

    <div class="row">
        <div class="span12">
            <%= link_to "First Kiss", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "On Street Pick Ups", new_user_registration_path, :class => "btn btn-danger" %>
             <%= link_to "Tongue", new_user_registration_path, :class => "btn btn-danger" %>
             <%= link_to "Condoms", new_user_registration_path, :class => "btn btn-danger" %>
             <%= link_to "First Dates", new_user_registration_path, :class => "btn btn-danger" %>
             <%= link_to "Pubic Hair", new_user_registration_path, :class => "btn btn-danger" %>
             <%= link_to "Slut People", new_user_registration_path, :class => "btn btn-danger" %>
             <%= link_to "Sleep Over", new_user_registration_path, :class => "btn btn-danger" %>
             <%= link_to "The Morning After", new_user_registration_path, :class => "btn btn-danger" %>
             <%= link_to "Consequences", new_user_registration_path, :class => "btn btn-danger" %>
             <%= link_to "Conversations", new_user_registration_path, :class => "btn btn-danger" %>
             <%= link_to "Lust", new_user_registration_path, :class => "btn btn-danger" %>
             <%= link_to "Liars", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "Profile Pictures", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "Speed Dating", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "Online Dating", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "Dark Alleyways", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "Drunk People", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "Clothing", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "Perfume", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "Spelling", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "Profile Descriptions", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "Drunks", new_user_registration_path, :class => "btn btn-danger" %>
            <%= link_to "International People", new_user_registration_path, :class => "btn btn-danger" %>

            <h1 class="burning">Top Hates</h1>
        </div>
       <div>

    </div>
 </div>
</div>

<div class="container">

            <% @hates.each do |hate| %>
            <div class="hates_show">
                    <li><%= image_tag(hate.user.avatar)  %></li>
                    <li> <button class="btn btn-large dropdown-toggle">
                        <%= link_to(hate.user.username, hate.user ) %></button></li>

                    <li><%= hate.hate_rate %></li>
                    <li><%= hate.category %></li>
                    <li><i>"<%= hate.post %>"</i></li>
                    <hr>
                    <li>
                      <div class="badge badge-inverse badge-large"><h3>Hate Rate <%= hate.ratings.total_count %></h3></div></li>

                           <% flash.each do |name,msg| %>
                           <% content_tag(:div, msg, class: "alert alert-#{name}") %>
                           <% end %>

                                  <% if user_signed_in? %>

                                                <%= form_for @rating  do |f| %>
                                                        <%= f.hidden_field :hate_up, :value => 1 %>
                                                        <%= f.hidden_field :hate_id, :value => hate.id %>

                                                      <li><%= f.submit '  Rate Up  ', :class => 'btn btn-danger btn-large'  %></li>
                                                        <% end %>

                                                <%= form_for @rating do |f| %>
                                                        <%= f.hidden_field :hate_down, :value => 1 %>
                                                        <%= f.hidden_field :hate_id, :value => hate.id %>

                                                    <li>   <%= f.submit 'Rate Down', :class => 'btn btn-warning btn-large'  %></li>
                                                <% end %>
                                    <% end %>

                                                   </div>
            <% end %>
      </div>
</div>




